

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.currency {
    text-decoration: none;
}
.currency.selected {
    font-weight: bold;
    font-size: 150%;
}















