<h1>Thank You!</h1>
<p>Isn't that neat?  You just clicked "Buy Now!" and we sold you a vacation.
    package.  You didn't even have to give us any money.  Isn't that nice
    of us?  On the other hand, we didn't get your address, so we have no idea
    where you live.
</p>
<a href="/vacations">Back to the vacations page</a>