<h1>{{vacation.name}}</h1>

<form class="form-horizontal newsletterForm" role="form"action="/cart/add" method="POST">
	<input type="hidden" name="sku" value="{{vacation.sku}}">
    <div class="form-group">
        <label for="fieldGuests" class="col-sm-4 control-label">Number of guests in your party</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" id="fieldGuests" name="guests">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-default">Add to Cart</button>
        </div>
    </div>
</form>

<a class="requestGroupRate" href="/tours/request-group-rate">Request group rate.</a>
